/*RESET*/
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*VARIABLES*/
:root {

    --color-default: #555555;
    --color-green: #36BA9B;
    --color-blue: #39AED9;
    --color-yellow: #F5B946;
    --color-red: #D94352;

    --weight-light: 300;
    --weight-normal: 400;
    --weight-bold: 700;
    --weight-black: 900;

    --hover-color-green: #61DDBC;
    --hover-color-blue: #66D4F1;
    --hover-color-yellow: #FCD277;
    --hover-color-red: #F76C82;
    --hover-duration: 0.3s;

    --gradient-green: linear-gradient(to right, #42E695 0%, #3BB2B8 50%, #42E695 100%);
    --gradient-blue: linear-gradient(to right, #17EAD9 0%, #6078EA 50%, #17EAD9 100%);
    --gradient-red: linear-gradient(to right, #622744 0%, #C53364 50%, #622744 100%);
    --gradient-yellow: linear-gradient(to right, #FCE38A 0%, #F38181 50%, #FCE38A 100%);

    --radius-normal: 5px;
    --radius-medium: 10px;
    --radius-large: 20px;
    --radius-round: 50%;

    --index-back: -1;
    --index-fold: 2;
    --index-menu: 3;
    --index-modal: 4;
}

/*ICONS*/

.icon {
    display: inline-block;
    padding: 10px 16px 10px 18px;
    background: var(--gradient-blue);
    font-size: 2em;
    color: #ffffff;
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
    background-size: 200%;
}


.icon-dark {
    color: #555;
    font-size: 4em;
}

.icon-redes{
    display: inline-block;
    padding: 2px 5px 0px 5px;
    background: var(--gradient-blue);
    font-size: 1em;
    color: #ffffff;
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: 30px;
    background-size: 200%;
    transition-duration: var(--hover-duration);
}

/*EFFECTS*/
.transition {
    transition-duration: var(--hover-duration);
}

.radius {
    -webkit-border-radius: var(--radius-normal);
    -moz-border-radius: var(--radius-normal);
    border-radius: var(--radius-normal);
}

/*GRADIENTS*/
.gradient {
    background-size: 200% auto;
    transition-duration: 0.5s;
}

.gradient-green {
    background-image: var(--gradient-green);
}

.gradient-blue {
    background-image: var(--gradient-blue);
}

.gradient-yellow {
    background-image: var(--gradient-yellow);
}

.gradient-red {
    background-image: var(--gradient-red);
}

.gradient-hover:hover {
    background-position: right center;
}