/* Autor Rodolfo Romaioli Ribeiro de Jesus*/

.bd-footer a:hover,.bd-footer a:focus{
    display: block;
    text-decoration:underline
}

.bd-footer a {
    color: var(--color-blue);
    font-weight: var(--weight-bold);
    text-decoration: none;
}