/* -------------- TABELA ASSINATURA -------------- */

.table-back{
    width: 480px;
    border: 2px solid gray;
    margin: 43px 330px 20px 330px;
    display: flex;
    justify-content: center;
    align-items: start;
    /* padding: 0.5rem 0rem; */
}

.container {
    padding: 0 !important;
    margin-bottom: 10px;
}

.down-img{
    width: 100%;
    margin: 0 auto !important;
    padding: 24px 0px 24px 0px !important;
    background-color: white !important;
    display: flex;
    justify-content: start;
    height: 246px;
}

.col-dados-prof{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: start;
    line-height: 100%;
    font-family: "Arial", sans-serif !important;
    border-left: solid 3px black;
    padding: 0rem 20px !important;
    min-width: 60%;
}

.name-style{
    font-size: 24px;
    font-weight: 700 !important;
    text-transform: uppercase;
    padding-top: 0.5rem;
    margin-bottom: 12px;
    line-height: 0.95;
    color: black;
    overflow-wrap: anywhere;
    line-break: strict;
}

.unidade-style{
    font-size: 14px;
    font-weight: 300 !important;
    text-transform: uppercase;
    /* padding-top: 0.5rem; */
    line-height: 0.95;
    color: black;
    overflow-wrap: anywhere;
    margin-bottom: 10px;

}

.cargo-setor {
    font-family: "Arial", sans-serif !important;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#endass {
    width: 252px;
    line-break: strict;
}

.dados {
    font-family: "Arial", sans-serif !important;
    font-size: 12px !important;
}

.dados p {
    margin: 0 !important;
}

.office-style{
    font: bold 13px "Flexo Light";
    color: black;
}
.sector-style{
    font: bold 13px "Flexo Light";
    color: rgb(11, 87, 181);
}
.email-style{
    font: normal 13px "Flexo Light";
    color: black;
}
.phone-style {
    font: normal 12px "Flexo Light";
    color: black;
    margin-top: 3px;
}
.unity-style {
    font: bold 13px "Flexo Light";
    color: black;
}
.address-style {
    font: normal 12px "Flexo Light";
    color: black;
    position: relative;
    top: 5px;
}
.col-assinatura{
    display: flex !important;
    align-items: center !important;
    /* padding: 0px !important; */
    padding: 0px 20px;
    width: fit-content;
    min-height: 180px;
}

@media (max-width: 450px) {

    .table-back{
        width: 100%;
        height: 200px;
        border: 2px solid gray;
        margin: 0;
        display: flex;
        align-items: center;
        padding: 0;
    }

    .col-assinatura {
        max-width: 40% !important;
        min-width: 40% !important;
        max-height: 120px;
    }

    .col-dados-prof {
        min-width: 60% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .name-style{
        font-size: 17px;
    }

    .cargo-setor {
        font-size: 8px;
        line-height: 1;
    }

    .dados {
        font-size: 7px !important;
        line-height: 1;
    }

    .down-img{
        width: 100%;
        display: flex;
        justify-content: start;
        flex-wrap: nowrap;
    }

    #logo-assinatura {
        align-items: center;
        margin: 0 auto;
        width: auto;
        height: fit-content;
        max-width: 100%;

    }


}